body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: white; /* Change from #5b4599 to white */
    color: black;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #feb47b;
    border-radius: 10
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #5b4599;
    color: white;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #feb47b;
    border-radius: 10px;
    color: black;
}

button {
    margin: 10px;
    padding: 10px;
    background-color: #5b4599;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #452d7a;
}

select {
    padding: 5px;
    margin: 10px;
}
